<!DOCTYPE html>
<html>
  <head>
    <title>Zype</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="d-flex flex-row-reverse p-3">
    <% if signed_in?  %>
      <a href="/logout" class="btn btn-light">Log Out</a>
    <% end %>
    </header>
    <main class="container-lg">
      <%= yield %>
    </main>
  </body>
</html>
